.blog{
    background-color: rgb(255, 99, 71);
     margin: 15px;
    border-radius: 10px;
    
}

.personal{
    text-align: center;
    border-radius: 10px;
    
}

#self{
    border-radius: 120px;
    border: solid rgb(51, 51, 51);
    width: 20%;
}

.first{
    background-color: rgba(255, 99, 71, 0.673);
    border: 4px solid tomato;
    margin: 15px;
    padding: 10px;
    margin-top: 0px;

}

.second{
    box-shadow: 10px 10px 5px 5px  rgb(59, 59, 59) ;
    margin: 15px;
    padding: 10px;
    border-right: 13px dotted;
    text-align: right;
    

}

.third{ 
    box-shadow: 10px 10px 5px 5px rgb(59, 59, 59);
    margin: 15px;
    padding: 10px;
    border-left: 13px dotted;
}

.fourth{ 
    box-shadow: 10px 10px 5px 5px  rgb(59, 59, 59) ;
    margin: 15px;
    padding: 10px;
    border-right: 13px dotted;
    text-align: right;
}

.nav{
    float: left;
}


.navul{
    text-align: left;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(255, 162, 146);
    border-radius: 10px;
   
}

.nav,.link{
    color: rgb(94, 0, 182);
    text-decoration: none;
    display:inline-block;
    text-decoration: none;
    text-align: center;
    
}
.link{
    padding: 20px;
    font-size: 18px;
}


  ul li a:hover {
    background-color:rgba(255, 135, 114, 0.505);
    color: aliceblue;
    border-radius: 7px;
  }
  .active{
    background-color:rgb(255, 135, 114);
    border-radius: 7px;
  }
  .email{
    float: right;
    text-align: right;
  }



@media screen and (max-width: 865px) {
    .navul{
        
        padding: 6px;
        
    }
    .nav,.link{     
        text-align: center;
        font-size: 14px;
        padding:6px;
        
    }
    .blog{
        
        font-size: 13px;
        
    }


  }
  @media screen and (max-width: 600px) {
    .navul{
        
        padding: 5px;
        
    }
    .nav,.link{     
        text-align: center;
        font-size: 11px;
        padding:5px;
        
    }
    .blog{
       
        font-size: 11px;
        
    }
  }
  @media screen and (max-width: 482px) {
    .navul{
        
        padding: 3px;
        
    }
    .nav,.link{     
        text-align: center;
        font-size: 8px;
        padding:3px;
        
    }
    .blog{
       
        font-size: 8px;
        
    }


  }
  
  
  
  
  
